/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    width: 100%;
}

header {
    background-color: #26f52d;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative; /* Ensure the header is positioned relative for absolute positioning of the logo and h1 */
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.header-images {
    position: relative;
    display: inline-block;
    max-width: 100%; /* Ensure the container does not exceed the viewport width */
    overflow: hidden; /* Hide any overflow */
}

.header-images img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header-images .main-logo {
    width: 100%; /* Ensure the main logo fits within the container */
}

.header-images .logo {
    position: absolute;
    top: 50%;
    right: 2%; /* Position the logo to the right side */
    transform: translateY(-50%);
    width: 20%; /* Adjust the size as needed */
    height: auto;
}

header h1 {
    position: absolute;
    top: 20%; /* Adjust this value to position the h1 vertically */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the h1 horizontally and vertically */
    color: white; /* Ensure the text color contrasts with the background */
    font-size: 2em; /* Adjust the font size as needed */
    z-index: 1; /* Ensure the h1 is on top of the images */
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5em; /* Adjust the font size for smaller screens */
    }
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    padding-bottom: 60px; /* Adjust this value as needed */
}

footer {
    background-color: #080707;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {
    main {
        padding-bottom: 80px; /* Increase padding for smaller screens if needed */
    }
}