/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    padding-bottom: 60px; /* Adjust this value as needed */
}

footer {
    background-color: #080707;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {
    main {
        padding-bottom: 80px; /* Increase padding for smaller screens if needed */
    }
}
